<section class="links">
  <div class="container">
               <div class="card">
            <div class="item"> 
              <span class="material-icons">
                calendar_today
                </span>
                </div>
            <div>
            <div class="title">                   
                How was your day? </div>             
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut vel odio en urna ultrice...
          </div>
        </div>        
        <div>
          <a href="/">
            <span class="material-icons">
              chevron_right
              </span>
        </a>
        </div>
    </div> 
    <div class="card">
        <div class="item"> 
          <span class="material-icons">
            schedule
            </span>
           </div>
        <div>
        <div class="title">                   
              Current Transist: 3rd House </div>             
        <div class="desc">This is demonstrate siblings, hobbies, efforts, confidence, friends and short tr...
      </div>
    </div>
    
    <div>
      <a href="/"><span class="material-icons">
        chevron_right
        </span></a>
    </div>
</div>
</div>
</section>
