.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.card {
    display: flex;
    justify-content: space-between;
    color: #ff5648;
    background: #fff4f4;
    border-radius: 15px;
    padding: 23px 20px;
}

.card:first-child {
    display: flex;
    justify-content: space-between;
    color: #403572;
    background: #f6f5fb;
    border-radius: 15px;
    padding: 23px 20px;
}

.title {

    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;

}

.desc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: currentColor;
}

.item {
    padding-right: 5px;
    transform: translateY(-5px);
}