<section class="side" >
    <div class="strong">
        <div class="main-desc">Strong side:</div>
        <div class="rotate">
            <p class="strong__desc desc">Analytics</p>
            <p class="strong__desc desc">Perfectionism</p>
            <p class="strong__desc desc">Analytics</p>   
        </div>
               
    </div>
    <div class="weak">
        <div class="main-desc">Weak side: </div>
        <div class="rotate">
            <p class="weak__desc desc">Perfectionism</p>
            <p class="weak__desc desc">Analytics</p>            
        </div>
    </div>
</section>