.title {
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #595085;
    padding-bottom: 15px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.item {
    box-shadow: 0 15px 25px 0 rgba(115, 78, 133, 0.15);
    background: linear-gradient(90deg, #25196b 0%, #94d9b4 100%);
    border-radius: 15px;
    padding: 20px 60px 22px 30px;
    cursor: pointer;
}

.desc {
    max-width: 103px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.item:first-child {
    background: linear-gradient(90deg, #25196b 0%, #d994a7 100%);
}